@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');


:root {
    --color-primaria: #000000;
    --color-secundaria: #F6F6F6;
    --color-terciaria: #22D4FD;
    --color-hover: #272727;

    --fuente-krona: 'Krona One', sans-serif;
    --fuente-montserrat: 'Montserrat', sans-serif;
}

* {
    padding: 0;
    margin:0;
}

body{
    box-sizing: border-box;
    background-color: var(--color-primaria);
    color: var(--color-secundaria);
}

.header{
    padding: 2% 0% 0% 15%;
}

.header__menu{
    display: flex;
    gap: 80px;
}
.header__menu__link{
    font-family: var(--fuente-montserrat);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--color-terciaria);
    text-decoration: none;

}

.logo {
    position: absolute;
    top: 20px; /* Ajusta según lo necesites */
    left: 65px; /* Ajusta según lo necesites */
    width: 60px; /* Tamaño del logo */
    height: auto; /* Mantiene 70la proporción */
}


.presentacion__contenido{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra los elementos horizontalmente */
    gap: 40px;
    text-align: center; /* Centra el texto dentro del contenedor */
    margin: 0 auto; /* Centra el contenedor horizontalmente */
}


.presentacion__contenido__titulo{
    font-size: 2rem;
    font-family: var(--fuente-krona);
}

.titulo-destaque {
    color: var(--color-terciaria); ;
}

.presentacion__contenido__texto{
    font-size: 1.5rem;
    font-family: var(--fuente-montserrat);
}
.presentacion__contenido__texto_pequeño{
    font-size: 1.5rem;
    font-family: var(--fuente-montserrat);
}

.presentacion__enlaces{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.presentacion__enlaces__subtitulo{
    font-family: var(--fuente-krona);
    font-weight: 400;
    font-size: 1.5rem;
}
.presentacion__enlaces__link{
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 16px;
      border: 2px solid var(--color-terciaria);
      width: auto;
      text-align: center;
      border-radius: 8px;
      font-size: 1.5rem;
      font-weight: 600;
      padding: 21.5px 0;
      text-decoration: none;
      padding: 10px 20px;
      color: var(--color-secundaria);
      font-family: var(--fuente-montserrat);
      padding: 10px 60px; /* Ajusta el espacio interno del botón */
}
.presentacion__enlaces__link a {
    flex: 1;
}

.presentacion__enlaces__link:hover{
    background-color: var(--color-hover);
}

.presentacion__imagen {
    width: 250px; /* Ancho deseado */
    height: 350px; /* Alto deseado */
    
    border-radius: 8px; /* Opcional: bordes redondeados */
    margin-left: 100px;
    margin-bottom: 50px;
    margin-top: 50px;
}

.imagenes-column {
    display: flex;
    flex-direction: column;
    align-items: center;
}



.footer{
    color:var(--color-primaria);
    background-color: var(--color-terciaria);
    padding: 10px;
    text-align: center;
    font-family: var(--fuente-krona);
    font-size: 0.75rem;
    font-weight: 400;
}

@media (max-width: 1200px) {
    
    .header{
         padding: 10%;  
    }
    .header__menu{
        justify-content: center;
    }
    .presentacion{
        flex-direction: column-reverse;
    }
    
}

/*////////////// Iconos redes sociales sprint */
.boton {
    display: block;
    text-indent: -9999px;
    width: 31.25px; /* Aún más pequeño */
    height: 31.25px; /* Aún más pequeño */
    background-image: url('../assets/sprint2.png');
    background-repeat: no-repeat;
    background-size: 62.5px 62.5px; /* Escala el sprite a un cuarto */
    margin-top: 2px; /* Ajusta este valor según lo necesites */
    margin-left: 1450px;
    
}

.instagram {
    background-position: 0 0;
}

.facebook {
    background-position: -31.25px 0;
}

.twitter {
    background-position: 0 -31.25px;
}

.whatsapp {
    background-position: -31.25px -31.25px;
}

.inferior-derecha {
    position: fixed; /* Posición fija para mantenerlos visibles al desplazarse */
    
}